<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" allow-return-values="true" >
    <listeners>
        <listener class-name="utilitis.Listener"/>
    </listeners>
    <test verbose="1" thread-count="1" preserve-order="true" name="Test" parallel="classes">
        <groups>
            <run>
                <include name="sanity-group"/>
            </run>
        </groups>
       <classes>

           <class name="TestsObjects.SignUpTest"/>
           <class name="TestsObjects.LoginTest"/>
           <class name="TestsObjects.OnBoardingFemaleTest"/>
           <class name="TestsObjects.OnBoardingMaleTest"/>
           <class name="TestsObjects.OnBoardingNaturalTest"/>
           <class name="TestsObjects.ReversOnBoardingFemaleTest"/>
           <class name="TestsObjects.ReversOnBoardingMaleTest"/>
           <class name="TestsObjects.ReversOnBoardingNaturalTest"/>
           <class name="TestsObjects.BookingsMajorTests"/>
           <class name="TestsObjects.BookingsMiniTests"/>
           <class name="TestsObjects.BookingsCOTests"/>
           <class name="TestsObjects.BookingsCONewUserCCTests"/>
           <class name="TestsObjects.BookingsCONewUserTests"/>
           <class name="TestsObjects.BookingsMajorNewUserSubscriptionTests"/>
           <class name="TestsObjects.BookingsMajorNewUserTests"/>
           <class name="TestsObjects.BookingsMajorSubscriptionTests"/>
           <class name="TestsObjects.BookingsMiniNewUserSubscriptionTests"/>
           <class name="TestsObjects.BookingsMiniNewUserTests">

           </class>
       </classes>
    </test>
</suite>